<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div id="options">
    <%= form.fields_for :options do |option| %>
      <%= render 'option_fields', f: option %>
    <% end %>
    <%= link_to_add_association 'add options', form, :options, class: "btn btn-info" %>
  </div>
  <div class="actions" style="margin: 29px 0 0 0;">
    <%= form.submit "Create", class: "btn btn-success"  %>
  </div>
<% end %>